{% load i18n %}

{% block subject %}
{% blocktrans %}Django React Boilerplate - Your username has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your username has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Django React Boilerplate team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your username has been changed!" %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Django React Boilerplate team{% endblocktrans %}</p>
{% endblock html_body %}
